:root {
	--footer-background: #111625
	--background-color: #341931
	
	--font-color-white: #FFFFFF
	--font-color-purple: #FF1168

	--feed-gradient-title-purple: #EE0979
	--feed-gradient-title-orange: #FF6A00
	
	--font-color: #868e96 
	--link-color: #ABC3F4 
	--form-color: #F2F2F2 
	--article-color: #FFFFFF 
	--display-grid: grid 
	--font-color: #868e96 
	--font-light: lighter 
	--button-color: #1E82FF 
	--button-font: 'Montserrat', sans-serif 
	--button-cursor: pointer 
	--button-outline: none 
	--button-border: none 
	--width-screen: 500px 
	--lightTextColor: rgba(0,0,0,0.3) 
	--lightBorderColor: #e9ecef 
	--themeColor: #005dd0 
	--themeWidth: 62em
}