<main class="main">
    <p class="main__text">All Songs</p>
    <div class="main__song">
        <div><img class="song__play" src="../assets/images/group422.png"><p class="song__title">Old Town Road</p> <p class="song__artist">Lil Nas X</p> <p class="song__duration">3:55</p></div>
        <div><img class="song__play" src="../assets/images/group422.png"><p class="song__title">Old Town Road</p> <p class="song__artist">Lil Nas X</p> <p class="song__duration">3:55</p></div>
        <div><img class="song__play" src="../assets/images/group422.png"><p class="song__title">Old Townwe Road</p> <p class="song__artist">Lil Nas X</p> <p class="song__duration">3:55</p></div>
        <div><img class="song__play" src="../assets/images/group422.png"><p class="song__title">Old Town Road</p> <p class="song__artist">Lil Nas X</p> <p class="song__duration">3:55</p></div>
        <div><img class="song__play" src="../assets/images/group422.png"><p class="song__title">Old Town Roawd</p> <p class="song__artist">Lil Nas X</p> <p class="song__duration">3:55</p></div>
    </div>
</main>