<footer class="homeFooter">
    <div class="homeFooter__container">
        <p class="container__registeredTitle">Hi Fi Corner (Edinburgh) Ltd is registered in Scotland
            <span class="registeredTitle__Number">No: SC049298</span>
            <span class="registeredTitle__Subtitle">Registered office: 2 Joppa Rd, Edinburgh EH15 2EU</span></p>
        <h6 class="container__links"><a class="links__refundAnker" href="">Returns & Refunds</a> | <a class="links__privacyAnker" href="">Privacy Policy.</a></h6>
    </div>
    <div class="homeFooter__socialsContainer">
        <img class="socialsContainer__payBrands" src="./assets/img2/pay_logos.png">
        <figure class="socialsContainer__socials">
            <img class="" src="./assets/img2/footer-facebook.png">
            <img class="" src="./assets/img2/footer-youtube.png">
            <img class="" src="./assets/img2/footer-twitter.png">
            <img class="" src="./assets/img2/footer-linkedin.png">
        </figure>
    </div>
</footer>