<footer class="homeFooter">
    <div class="container__container">
    <div class="homeFooter__container">

        <img class="container__pulse" src="../assets/images/ionicons_svg_ios-pulse.svg" >
        <img class="container__mic" src="../assets/images/ionicons_svg_ios-microphone.svg">
        
        <div class="container__box">
            <img class="box__circle" src="../assets/images/ionicons_gradient.svg">
            <img class="box__wifi" src="../assets/images/_ionicons_svg_md-wifi.svg">
        </div>
        
        <img class="container__contast" src="../assets/images/ionicons_svg_ios-contrast.svg">
        <img class="container__gear" src="../assets/images/Path343.svg">

    </div>
</div>
</footer>