<header class="header">
    <div class="header__box">
        <img class="box__img"src="../assets/images/placeholder.png">
        <h1 class="box__title">Old Town Road</h1>
        <h3 class="box__desc">12 Songs</h3>

        <h5 class="box__hastag-title">genres hastags</h5>
        <div class="box__hastag">#Country</div><div class="box__hastag">#Country Food</div>
    </div>
</header>