<header class="header">
    <div class="header__box">
        <button class="box__button">&#9993; | Subscribe</button>
        <img class="box__contact" src="assets/img2/top-mail.png">
        <img class="box__contact" src="assets/img2/top-call.png">
        <img class="box__contact" src="assets/img2/top-map.png">
    </div>
</header>