
<div class="main">
    <div class="main__container">
        <h1 class="container__featured">Featured</h1>
        <img src="../assets/images/pexels-photo-1816943.png" class="container__background">
        <h2 class="container__title">The Greatest Showman</h2>
        <h5 class="container__desc">Soundtrack</h5>
        <img src="../assets/images/Footer-shadow.png" class="container__img">
    </div>

    <div class="main__container">
        <img src="../assets/images/pexels-photo-14354.png" class="container__background">
        <h2 class="container__title">The Greatest Showman</h2>
        <h5 class="container__desc">Soundtrack</h5>
        <img src="../assets/images/Footer-shadow.png" class="container__img">
    </div>

    <div class="main__container">
        <img src="../assets/images/pexels-photo-1988681@2x.png" class="container__background">
        <h2 class="container__title">The Greatest Showman</h2>
        <h5 class="container__desc">Soundtrack</h5>
        <img src="../assets/images/Footer-shadow.png" class="container__img">
    </div>
</div>