<navbar class="navigation">
    <a href="./albumdetails/index.html"><img Class="navigation__arrow" src="./assets/images/arrowback.png"></img></a>
    <p class="navigation__title">Album</p>
    <img Class="navigation__arrow" src="./assets/images/search.png"></img>
</navbar>