<navbar class="navigation">
    <ul class="navigation__unorderedlist">
        <li class="unorderedlist__link"><a href="index.html" class="link__anker">HOME</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">ABOUT US</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">BRANDS</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">BLOG</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">EVENTS</a></li>
        <li class="unorderedlist__link"><a href="shopgallery.html" class="link__anker">SHOP</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">CONTACT US</a></li>
    </ul>
</navbar>