<navbar class="navigation">
    <img Class="navigation__arrow" src="./assets/images/arrowback.png"></img>
    <p class="navigation__title">Album</p>
    <img Class="navigation__arrow" src="./assets/images/search.png"></img>
</navbar>