<% include ../partials/head %>

<h1 class="login__title">Log In</h1>
<p class="login__desc">22 Songs</p>
<p class="login__genre">genres hastags</p>

<div>
    <div></div>
    <div></div>
</div>

<main>
    <h3>All Songs</h3>
    <div></div><h3>Old Town Road</h3><h5>Billy Ray</h5>
    <div></div><h3>Old Town Road</h3><h5>Billy Ray</h5>
    <div></div><h3>Old Town Road</h3><h5>Billy Ray</h5>
</main>

<% include ../partials/login-form %>

<% include ../partials/footer %>
<% include ../partials/after-footer %>