<% include ../partials/head-player %>
<% include ../partials/nav-player %>

<main>
    <div>
        <div>
            <div>

            </div>
        </div>
    </div>
    <section>
        <div>

        </div>
        <div>

        </div>
        <div>
            
        </div>
    </section>
</main>

<% include ../partials/after-footer-player %>