.homeFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    z-index: 6;
    background-color: #111625;
}

.homeFooter__shadow {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    z-index: -10;
}

.container__container {
    z-index: 7;
    background-color: #111625;
    width: 100%;
    height: 65px;
}

.homeFooter__container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: auto;
    height: 65px;
    box-shadow: -10px 0 50px rgba(0, 0, 0, 0.8);
}

.container__pulse {
    height: 25px;
    width: 25px;
}

.container__mic {
    fill: red;
    height: 25px;
    width: 15px;
}

.container__box {
    width: 50px;
    display: inline-block;
}

.box__circle {
    position: relative;
    z-index: 1;
    margin-top: 5px;
    width: 45px;
}

.box__wifi {
    width: 35px;
    z-index: 2;
    position: absolute;
    margin-left: -40px;
    margin-top: 10px;
}

.container__contast {
    fill: white;
    height: 25px;
    width: 25px;
}

.container__gear {
    height: 25px;
    width: 25px;
}

